.label {
  vertical-align:text-middle;
}

.top {
  padding-top: 10px;
}

.top_up {
  padding-top: 20px;
}

.top_content {
  padding-top: 100px;
}

.bottom {
  padding-bottom:20px;
}

.left_query {
  padding-left: 500px;
}

.input {
  vertical-align:text-middle;
}

.left_create {
  padding-left: 200px;
}

.left_delete {
  padding-left: 400px;
}

.left_check {
  padding-left: 600px;
}

.left_tp {
  padding-left: 510px;
}

.left_import {
  padding-left: 900px;
}

.yellow-background {
  background-color:#FFF8DC;
}

.middle_div {
  padding-left: 300px;
}

.height_title {
  padding-bottom:10px;
}

.button_p{
  padding-left: 35%;
}

.larger-image {
  width: 500px;
}

.topologyDiv{
  margin-bottom: 20px;
  height: 400px;
}